*.py[cod]
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

/data/msd_summary_file.h5
/data/track_metadata.db
/data/*.zip
/data/mxm.txt
/lyrics_histogram_10_bins.png
/lyrics_histogram_all_bins.png